@use '../components/images';
@use '../layout/home';
@use 'mixins';
//not finished

@media (max-width: 1713px) {
  .projects {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 2em 2em;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
@media (max-width: 1545px) { 
    .aboutme1  {
        justify-content:center ;
    }
    .head-shot {
        display: none;
    }
    .head {
        width: 600px;
        padding-bottom: 1.5em;
        h2 {
          font-size: 2em;
        }
        .disc {
          font-size: 1.2em;
          padding-bottom: .8em;
        }
    }
}

@media (max-width: 978px) {
    // .aboutme1  {
    //     justify-content:center ;
    // }
    .about {
        width: 70vw;
        padding: 0;
    }
    .cards {
      font-size: .85em;
    }
    .projects, .cards, .info {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-flow: row;
      img {
        @include mixins.img();
        margin: auto;
        height: 100%;
        width: 100%;
      }
    }
    .li {
      display: flex;
    }
    .list {
      max-width: 100px;
    }
}

@media (max-width: 706px) {
  .header, .hero, label, .work, .services, .skills, .test, .contact, .aboutme1 {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .head{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    text-align: center;
  }
  .aboutme1 {
    display: block;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    width: auto;
  }
  .head {
    width: auto;
  }
  
}

