@use 'variables';

$colors: (
  primary: (
    base: variables.$primary-color,
    light: lighten(variables.$primary-color, variables.$lighten),
    dark: darken(variables.$primary-color, variables.$darken),
  )
);