@use '../abstracts/variables';

//button styles
@mixin bttn() {
  @content;
  border: 1px solid variables.$accent;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 1.5em;
}

//page padding
@mixin page() {
  padding-left: 15vw;
  padding-right: 15vw;
  @content;
}
@mixin svg($w, $h, $fill, $stroke) {
  @content;
  .svg-icon {
    width: $w;
    height: $h;
  }
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: $fill;
  }
  .svg-icon circle {
    stroke: $stroke;
    stroke-width: 1;
  }
}
//project img
@mixin img() {
  width: 400px;
  height: 300px;
}

@mixin img-media() {
  width: auto;
  height: auto;
}



// breakpoints
@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}