@use '../abstracts/variables';

//button styles
@mixin btn() {
  
}

//page padding
@mixin page() {
  padding-left: 15%;
  padding-right: 15%;
  @content;
}
@mixin svg($w, $h, $fill, $stroke) {
  @content;
  .svg-icon {
    width: $w;
    height: $h;
  }
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: $fill;
  }
  .svg-icon circle {
    stroke: $stroke;
    stroke-width: 1;
  }
}
//project img
@mixin img() {
  width: 400px;
  height: 300px;
}