//colors
$primary-color: #C03A3A;
$footer: #1E2833;
$newsletter: #1A1B37;;
$buttons: #FF3F3F;
$navselected: #FF7474;
$white: #FAFAFA;
//color function
$lighten: 10;
$darken: 30;
//font sizes

//display
$f: flex;
$g: grid;