//colors
$primary-color: #100E0E;
$accent: #FF3F3F;
$color-2: #171515;
$color-3: #070708;
$buttons: #FF3F3F;
$white: #fff;
//color function
$lighten: 10;
$darken: 30;
//font sizes

//display
$f: flex;
$g: grid;