.logo {
  background-image: url("../../assets/MANNYBOULPFP.png");
  background-size: contain;
  background-position: center;
  height: 40px;
  width: 200px;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

.head-shot {
  display: block;
  background-image: url("../../assets/IMG_3652.png");
  background-size: contain;
  background-position: center;
  height: 500px;
  width: 400px;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

.head-img {
  height: 200px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr;
  text-align: center;
  grid-gap: 1em 1em;
}

.card {
  height: 250px;
  background-color: #070708;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3em;
  padding-right: 3em;
}
.card h3 {
  padding-bottom: 1em;
}
.card p {
  color: grey;
}

html {
  background-color: #100E0E;
}

.header, .hero, label, .work, .services, .skills, .test, .contact {
  padding-left: 15vw;
  padding-right: 15vw;
}

.header, .hero, .services, .skills, .skill-percent, .skill-text, .test, .contact {
  display: flex;
}

.header {
  padding-left: 15vw;
  padding-right: 15vw;
  height: 10vh;
  position: relative;
  align-items: center;
}

.hero {
  justify-content: left;
  margin-top: 5em;
}
.hero h1 {
  font-size: 4em;
  line-height: 5rem;
}
.hero .hello {
  color: #FF3F3F;
}

.zoro {
  padding-bottom: 2.5em;
  width: 100%;
}

.bottom-head {
  display: block;
}

.slide {
  width: 50%;
  text-align: right;
}
.slide .selected, .slide .number {
  display: inline;
}
.slide .selected {
  font-size: 4em;
  color: #FF3F3F;
}
.slide .arrows {
  display: flex;
  justify-content: space-between;
}

label {
  font-size: xx-large;
  text-align: center;
  padding: 0;
  margin: 0;
}

.aboutme1 {
  padding-left: 15vw;
  padding-right: 15vw;
  display: flex;
  justify-content: right;
}

.head {
  width: 600px;
  padding-bottom: 1.5em;
}
.head h2 {
  font-size: 2em;
}
.head .disc {
  font-size: 1.2em;
  padding-bottom: 0.8em;
}
.head span {
  color: #FF3F3F;
}
.head .bio {
  color: grey;
}

.info {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  padding-bottom: 2em;
}
.info li {
  padding-bottom: 1em;
}
.info .list {
  display: inline-block;
  min-width: 120px;
}
.info .fact {
  display: inline-block;
  padding-left: 1em;
  color: grey;
}

.about {
  padding-left: 4em;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2em 0;
}

@media (max-width: 1713px) {
  .projects {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em 2em;
  }
  .projects img {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 1545px) {
  .aboutme1 {
    justify-content: center;
  }
  .head-shot {
    display: none;
  }
  .head {
    width: 600px;
    padding-bottom: 1.5em;
  }
  .head h2 {
    font-size: 2em;
  }
  .head .disc {
    font-size: 1.2em;
    padding-bottom: 0.8em;
  }
}
@media (max-width: 978px) {
  .about {
    width: 70vw;
    padding: 0;
  }
  .cards {
    font-size: 0.85em;
  }
  .projects, .cards, .info {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
  .projects img, .cards img, .info img {
    width: 100%;
    height: 100%;
    margin: auto;
    height: 100%;
    width: 100%;
  }
  .li {
    display: flex;
  }
  .list {
    max-width: 100px;
  }
}
@media (max-width: 706px) {
  .header, .hero, label, .work, .services, .skills, .test, .contact, .aboutme1 {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .head {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    text-align: center;
  }
  .aboutme1 {
    display: block;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    width: auto;
  }
  .head {
    width: auto;
  }
}
.download, .message-me {
  border: 1px solid #FF3F3F;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 1.5em;
}

.button-area {
  margin: 25px 0;
  display: flex;
  align-items: center;
}
.button-area button {
  color: #fff;
  border: 1px solid #FF3F3F;
  font-size: 18px;
  cursor: pointer;
  padding: 13px 25px;
  background: #100E0E;
  transition: background 0.3s ease;
}
.button-area button:hover {
  background: #360d0d;
}
.button-area span {
  font-size: 17px;
  margin-left: 30px;
  display: none;
}

/* NEW FOOTER CONTACT FORM */
.wrapper {
  margin: auto;
  width: auto;
  /* background: #fff; */
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
.wrapper header {
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #FF3F3F;
}
.wrapper form {
  margin: 35px 30px;
}
.wrapper form.disabled {
  pointer-events: none;
  opacity: 0.7;
}
.wrapper form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: #ccc;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}

form .dbl-field {
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}

.dbl-field .field {
  height: 50px;
  display: flex;
  position: relative;
  width: calc(50% - 13px);
}

form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.field input::placeholder,
.message textarea::placeholder {
  color: #ccc;
}

.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid #0D6EFD;
}

.field input:focus ~ i,
.message textarea:focus ~ i {
  color: #0D6EFD;
}

form .message {
  position: relative;
}

form .message i {
  top: 30px;
  font-size: 20px;
}

form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 48px;
}

form .message textarea::-webkit-scrollbar {
  width: 0px;
}

.message textarea:focus {
  padding-top: 14px;
}

@media (max-width: 600px) {
  .wrapper header {
    text-align: center;
  }
  .wrapper form {
    margin: 35px 20px;
  }
  form .dbl-field {
    flex-direction: column;
    margin-bottom: 0px;
  }
  form .dbl-field .field {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  form .message textarea {
    resize: none;
  }
  form .button-area {
    margin-top: 20px;
    flex-direction: column;
  }
  .button-area button {
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .button-area span {
    margin: 20px 0 0;
    text-align: center;
  }
}
* {
  font-family: "Ubuntu", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  color: white;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.wrap-label {
  text-align: center;
  padding: 1vh;
}
