@use '../abstracts/functions';
@use '../abstracts/colors';
@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../components/cards';

// top buttons

.download, .message-me {
  @include mixins.bttn;
}



// submit button
.button-area{
  margin: 25px 0;
  display: flex;
  align-items: center;
  button{
    color: #fff;
    border: 1px solid variables.$accent;
    font-size: 18px;
  cursor:pointer;
    padding: 13px 25px;
    background: variables.$primary-color;
    transition: background 0.3s ease;
    }
  button:hover{
      background: #360d0d;
    }
  span{
    font-size: 17px;
    margin-left: 30px;
    display: none;
  }
}
