@use '../abstracts/functions';
@use '../abstracts/colors';
@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../components/cards';
html {
  background-color: variables.$primary-color; 
}
.header, .hero, label, .work, .services, .skills, .test, .contact {
  @include mixins.page;
}
.header, .hero, .services, .skills, .skill-percent, .skill-text, .test, .contact {
  display: flex;
}
.header {
  @include mixins.page;
  height: 10vh;
  position: relative;
  align-items: center;
}
.hero {
  justify-content: left;
  margin-top: 5em;
  h1 {
    font-size: 4em;
    line-height: 5rem;
  }
  .hello {
    color: variables.$accent;
  }
}
.zoro {
  padding-bottom: 2.5em;
  width: 100%;
}

// .intro {
//   width: 400px;
//   .uiux {
//     font-size: 2em;
//   }
// }

.bottom-head {
  display: block;
}
.slide {
  width: 50%;
  text-align: right;
  .selected, .number {
    display: inline;
  }
  .selected {
    font-size: 4em;
    color: variables.$accent;
  }
  .arrows {
    display: flex;
    justify-content: space-between;
  }
}
label {
 text-align: center;
 padding: 0;
 margin: 0;
}
.aboutme1 {
  @include mixins.page;
  display: flex;
  justify-content: right;
}
.head {
  width: 600px;
  padding-bottom: 1.5em;
  h2 {
    font-size: 2em;
  }
  .disc {
    font-size: 1.2em;
    padding-bottom: .8em;
  }
  span {
    color: variables.$accent;
  }
  .bio {
    color: grey;
  }
}
.info {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  padding-bottom: 2em;
  li {
    padding-bottom: 1em;
  }
  .list {
    display: inline-block;
    min-width: 120px;
  }
  .fact {
    display: inline-block;
    padding-left: 1em;
    color: grey;
  }
}
.about {
  padding-left: 4em;
}
// port
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2em 0;
}
// .port {
// text-align: center;
// padding-bottom: 3em;
// display: block;
//   li {
//     display: inline;
//     padding-right: 2.7em;
//   }
// }